@charset "utf-8";
*{
	margin:0px;
	padding:0px;
	list-style-type:none;
}


p{
	font-family:Arial;
	font-weight:bold;
	font-size:30px;
	
	padding-left:360px;
				
}
header,nav,article,section,footer,aside{
		display:block;
}
.homescreen{
	width:1200px;
	margin:0px auto;
	

}

.clear{
	clear:both;
}
.logo{
	height:80px;
	width:234px;
	float:center;
}
.coupon_image{
	width:800px;
	height:600px;
	float:left;
	padding-left:200px;
	
}

.top_nav{
	float:right;
	width:966;
}
	
.top_nav ul li{
	float:left;
	padding-top:53px;
	padding-left:20px;
	padding-right:40px;
        font-size:20px;


	
	
}

.bottom_nav ul li{
	float:right;
	padding-right:360px;
}



	

	